body{
  background-color: rgb(167, 199, 216);
  
}
.midasi,h2,h3{
  color: white;
  
}

header{
  background-color: skyblue;
  color: rgb(15, 131, 247); 
  font-family:"Hiragino Sans","YuGothic";
 }
/* .head {
  color: rgb(67, 152, 237);
  background-color: skyblue;
} */
button{
  padding: 5px 20px;
  background-color: rgb(119, 223, 249);
  color: white;
  
  border-radius: 100vh;
  border-style:none ;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

button:hover{
  background-color:rgb(67, 152, 237);
}

.overview {
  font-size: 1.2em;
  border-bottom: 0.3em;
  font-family:"Hiragino Sans","YuGothic";
}

.instagram {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
  width: 200px;
}

ul {
  display: flex;
  justify-content:left;
  align-items: flex-start;
  text-align: left;
  word-break: break-all;
  flex-wrap: wrap;
}

img {
  width: 300px;
  padding-bottom: 10px;
  padding-right: 10px;
  
}

.photo {
  font-size:0px;
  text-align: center;
}

hr { 
  width: 600px;
  border:none;
  border-top:dashed 3px white;
  height:3px;
  text-align: left;
  margin-left: 0%;
}

/* #lightbox .lb-container { padding: 0px; }
#lightbox .lb-outerContainer { padding: 5px; } */


